.footer {
    background-color: #77c6f3;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-bottom: 3rem;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .chevrons {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
  }

  .chevrons:hover {
    animation: bob 5s infinite;
  }

  @keyframes bob {
    10% {
        transform: translateY(-25px)
    }
    20% {
        transform: translateY(0)
    }
    30% {
        transform: translateY(-25px)
    }
    40% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-25px)
    }
    60% {
        transform: translateY(0)
    }
    70% {
        transform: translateY(-25px)
    }
    80% {
        transform: translateY(0)
    }
    90% {
        transform: translateY(-25px)
    }
    100% {
        transform: translateY(0)
    }
  }