.timeline {
    color: navy;
    font-size: 2rem;
}

.position {
    color: navy;
    margin-left: 1rem;
    font-size: 2rem;
}

.company {
    color: #d7ff12;
    margin-left: 2.73rem;
    font-size: 2rem;
}

.dropdown-icon {
    font-weight: bold;
    font-size: 2rem;
}

.box {
    width: 65rem;
}

.resume-line {
    width: 100%;
    justify-content: space-between;
}

.description {
    font-size: 1.25rem;
    margin-left: 2.73rem;
    white-space: pre-line;
}

.border {
    border-style: solid none none none;
    width: 100%;
    color: white;
}