.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    margin-top: 10rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.photo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}