
.flex {
    display: flex;
}

header {
    background-color: #77c6f3;
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    z-index: 1000;
    width: 100%
}

.list {
    list-style: none;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.inline {
    margin: 1rem;
}

.color-size {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    position: relative; 
}

.active {
    color: #d7ff12; 
}

.color-size:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 1px;
}

.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    color: #d7ff12;
    background-color: #d7ff12;
    position: absolute;
    bottom: -5px; 
    left: 0;
    border-radius: 1px;
}

.active:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    color: #d7ff12;
    background-color: #d7ff12;
    position: absolute;
    bottom: -5px; 
    left: 0;
    border-radius: 1px;
}

body {
    background-color: #77c6f3; 
    color: white; 
    font-family: 'Bebas Neue', sans-serif; 
    margin: 0; 
    padding: 0; 
}

main {
    padding-left: 7rem; 
    padding-top: 3rem; 
}

@keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

.waving-hand {
    display: inline-block;
    animation: wave 2s infinite;
    transform-origin: 70% 70%; 
}

.slideshow-container {
    display: inline-block;
    position: relative;
    max-width: 400px;
    margin-left: 5rem;
    margin-right: 7rem;
    vertical-align: top;
}

.slides {
    display: none;
    width: 90%;
}

.slideshow-container img {
    width: 90%;
}

.active {
    display: block;
    border-radius: 15px;
}

.wrapper {
    justify-content: space-around;
    align-items: center;
  }

.large-margin-top {
    margin-top: 50rem;
}

.medium-margin-top {
    margin-top: 5rem;
}

.margin-top {
    margin-top: 1.5rem;
}

.icons {
    display: inline-block;
    margin-right: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.icons:hover {
    color: #ffffff; 
}

.line-height {
    line-height: 3rem;
}

.medium-font {
    font-size: 2rem;
}

.margin-bottom {
    margin-bottom: 5rem;
}
.center-align {
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.margin-left {
    margin-left: 5rem;
}

.margin-right {
    margin-right: 7rem;
}

.small-margin-bottom {
    margin-bottom: 1rem;
}
